<h1>Edit: <%= @team.team_name %><h1>


<form action="/teams/<%= @team.slug %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="input-field">
          <label for="team_name">Team Name</label>
          <input id="team_name" name="user[team_name]" value="<%= @team.team_name %>" type="text" class="validate">
    </div>

      <div style="display: flex; flex-direction: column; align-items: left; justify-content: center;">
    <% Champion.all.each do |champ| %>
    <% if champ.id <= 31 %>
<div style="display: flex; align-items: center; white-space: no-wrap; 
    width: 10%; height: 20px; margin: 0px; padding: 0px;">
<label  style="color:black; margin-right: auto;"><%=champ.id%>:&nbsp <%=champ.Name%></label> 
                        <input value="<%=champ.id%>" style=" position: relative; opacity: 1; pointer-events: initial;" type="checkbox"  name="user[champion_ids][]" />
</div >
    <% elsif champ.id <= 62 && champ.id > 31 %>
<div style="display: flex; align-items: center; white-space: no-wrap; 
    width: 10%; height: 20px; margin: 0px; padding: 0px; position: relative; left: 20%; bottom: 620px; ">
<label  style="color:black; margin-right: auto;"><%=champ.id%>:&nbsp<%=champ.Name%></label> 
                        <input value="<%=champ.id%>" style=" position: relative; opacity: 1; pointer-events: initial;" type="checkbox"  name="user[champion_ids][]" />
</div>
    <% elsif champ.id <= 93 && champ.id > 62 %>
<div style="display: flex; align-items: center; white-space: no-wrap; 
    width: 10%; height: 20px; margin: 0px; padding: 0px; position: relative; left: 40%; bottom: 1240px;">
<label  style="color:black; margin-right: auto;"><%=champ.id%>:&nbsp<%=champ.Name%></label> 
                        <input value="<%=champ.id%>" style=" position: relative; opacity: 1; pointer-events: initial;" type="checkbox"  name="user[champion_ids][]" />
</div>
    <% elsif champ.id <= 124 && champ.id > 93 %>
<div style="display: flex; align-items: center; white-space: no-wrap; 
    width: 10%; height: 20px; margin: 0px; padding: 0px; position: relative; left: 60%; bottom: 1860px; ">
<label  style="color:black; margin-right: auto;"><%=champ.id%>:&nbsp<%=champ.Name%></label> 
                        <input value="<%=champ.id%>" style=" position: relative; opacity: 1; pointer-events: initial;" type="checkbox"  name="user[champion_ids][]" />
</div>
    <% elsif champ.id <= 155 && champ.id > 124 %>
<div style="display: flex; align-items: center; white-space: no-wrap; 
    width: 10%; height: 20px; margin: 0px; padding: 0px; position: relative; left: 80%; bottom: 2480px; ">
<label  style="color:black; margin-right: auto;"><%=champ.id%>:&nbsp<%=champ.Name%></label> 
                        <input value="<%=champ.id%>" style=" position: relative; opacity: 1; pointer-events: initial;" type="checkbox"  name="user[champion_ids][]" />
</div>


<% end %>
<% end %>  
        
 
  
      <div style="position: absolute; left: 15%; top: 17%;" >      
      <input type="submit" value="Update Team" class="btn">
      </div>
        </form>
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          

                         



