<h3><%= @team.team_name %>:</h3>
<p>Select a champion to see their stats:</p>

<p>
    <% @team.champions.collect do |champ| %>
     <ul>
        <li><%= champ.id %>: <a href= "/champions/<%= champ.id %>"><%= champ.Name %></a> </li>
        <% end %>
    </ul>
</p>



<form action="/teams/<%= @team.id %>" method="post">
    <a href="/teams/<%= @team.id %>/edit" class="btn">Edit Team</a>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Remove Team" class="btn">
</form>