<h3><%= @team.team_name %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[Wins:&nbsp<%= @team.wins %>][Losses:&nbsp<%= @team.losses %>]</h3>
<h6>Select a champion to see their stats:</h6>
<p>
    <% @team.champions.collect do |champ| %>
</p>
    <% end %>


<div style="position: absolute; left: 3%; top: 20%;">
<table>   
<tr>     
<th><a href= "/champions/<%= @team.champions[0].slug %>"><%= @team.champions[0].Name %></a></th>     
<th><a href= "/champions/<%= @team.champions[1].slug %>"><%= @team.champions[1].Name %></a></th>     
<th><a href= "/champions/<%= @team.champions[2].slug %>"><%= @team.champions[2].Name %></a></th>     
<th><a href= "/champions/<%= @team.champions[3].slug %>"><%= @team.champions[3].Name %></a></th>     
<th><a href= "/champions/<%= @team.champions[4].slug %>"><%= @team.champions[4].Name %></a></th>
</tr>
<tr>
<td><img height="570px" width= "330px" src="/images/champ_img/<%= @team.champions[0].id %>.jpg"></td>
<td><img height="570px" width= "330px" src="/images/champ_img/<%= @team.champions[1].id %>.jpg"></td>
<td><img height="570px" width= "330px" src="/images/champ_img/<%= @team.champions[2].id %>.jpg"></td>
<td><img height="570px" width= "330px" src="/images/champ_img/<%= @team.champions[3].id %>.jpg"></td>
<td><img height="570px" width= "330px" src="/images/champ_img/<%= @team.champions[4].id %>.jpg"></td>
</tr>     
</table>
</div>



<div style="position: absolute; left: 4%; top: 93%;">
<form action="/teams/<%= @team.slug %>" method="post">
    <a href="/teams/<%= @team.slug %>/edit" class="btn">Edit Team</a>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Remove Team" class="btn">
    <a href="/duels/<%= @team.slug %>/new" class="btn">Duel Team</a>
    
</form>
</div>