



<h2> <%= @user.username %>'s teams: &nbsp&nbsp&nbsp&nbsp[Wins:&nbsp<%=@user_wins.sum %>][Losses:&nbsp<%=@user_losses.sum %>]</h2>
    <% Team.all.collect do |team| 
        if team.user_id  == @user.id %>
        <div>
            <a href='/teams/<%= "#{team.slug}" %>'><%= team.team_name %>
        </div>

        <% end %> 

    <% end %>
   <div style="position: absolute; left: 35%; top: 20%;">
    <img height = "600px" width = "1000px" src="/images/champ_img/team1.jpg">
    </div>


